<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./style.css" />
        <title>Document</title>
    </head>
    <body class="tdg_body">
        <header class="tdg_header">
            <img src="./images/td-green.png" />
        </header>
        <main class="tdg_main-wrapper">
            <div class="tdg_inner-wrapper">
                <div class="tdg_gallery-box">
                    <div class="tdg_gallery">
                        <div class="tdg_gallery-item">
                            <img src="./images/gallery-1.png" />
                        </div>
                        <div class="tdg_gallery-item">
                            <img src="./images/gallery-2.png" />
                        </div>
                        <div class="tdg_gallery-item">
                            <img src="./images/gallery-3.png" />
                        </div>
                    </div>
                    <p>Our employees are the driving force behind everything we
                        achieve,
                        bringing dedication, creativity, and resilience to their
                        work every day.
                        We appreciate your commitment not only to excellence,
                        but to supporting
                        each another and building a strong, positive workplace
                        culture.</p>
                    <button class="tdg-button" type="submit">Continue</button>
                </div>

            </div>
        </main>
    </body>
</html>