<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./style.css" />
        <title>Document</title>
    </head>
    <body class="tdg_body">
        <header class="tdg_header">
            <img src="./images/td-green.png" />
        </header>
        <main class="tdg_main-wrapper">
            <div class="tdg_inner-wrapper">
                <div class="tdg_heading-section tdg_grid-heading">
                    <h1>EMPLOYEE</h1>
                    <p>Appreciation</p>
                </div>
                <div class="tdg_icon-grid">
                    <div class="tdg_icon-item">
                        <div class="tdg_icon-box">
                            <img src="./images/icon-1.png" />
                        </div>
                        <p class="tdg_icon-title">HOME</p>
                    </div>
                    <div class="tdg_icon-item">
                        <div class="tdg_icon-box">
                            <img src="./images/icon-2.png" />
                        </div>
                        <p class="tdg_icon-title">TECHNOLOGY</p>
                    </div>
                    <div class="tdg_icon-item">
                        <div class="tdg_icon-box">
                            <img src="./images/icon-3.png" />
                        </div>
                        <p class="tdg_icon-title">APPAREL</p>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>