<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./style.css" />
        <title>Document</title>
    </head>
    <body class="tdg_body">
        <header class="tdg_header">
            <img src="./images/td-green.png" />
        </header>
        <main class="tdg_main-wrapper">
            <div class="tdg_inner-wrapper">
                <div class="tdg_heading-section">
                    <h1>EMPLOYEE</h1>
                    <p>Appreciation</p>
                </div>
                <form class="tdg-form">
                    <input type="email" placeholder="LOGIN" />
                    <input type="password" placeholder="PASSWORD" />
                    <button class="tdg-button" type="submit">ENTER</button>
                </form>
            </div>
        </main>
    </body>
</html>